<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.horus_dataf_1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CLOUDPOS_PRINTER" />
    <uses-permission android:name="android.permission.CLOUDPOS_SMARTCARD" />
    <uses-permission android:name="android.permission.CLOUDPOS_PINPAD" />

    <application>
        <activity
            android:name=".MainMenuActivity"
            android:exported="true"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
    </application>
</manifest>